@font-face { font-family: 'Monster Font'; src: url('fonts/OpenDyslexic-Bold.otf') format('opentype'); font-weight: normal; }

* { font-family: 'Monster Font'; }


body {
	background-color: grey;
	background: url(../images/backgrounds/SwetiSettlementSky.jpg)no-repeat center center fixed; 
	background-size: cover;
}

code {
  background-color: black; /* Light grey background */
  color: lightgrey;            /* Dark red text color commonly used for code */
  padding: 2px 6px;          /* Space around the text */
  border-radius: 4px;        /* Rounded corners */
  font-family: monospace;    /* Ensures a code-style font */
}

#title { 
	text-align: center; 
	background: linear-gradient(to bottom, lightgreen, rgb(245, 189, 84)); 
		-webkit-background-clip: text; 
		-webkit-text-fill-color: transparent; 
		-webkit-text-stroke: 1px black; 
	margin-top: 20px; 
	font-weight: bold; 
}

#mainContainer {
	position: absolute;
	width: 1000px;
	height: 500px;
	border: 2px solid black;

	border-radius: 25px;
	corner-shape: squircle;
	background-color: #222222;
	opacity: .8;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -40%);
}

#monsterImgContainer {
	position: absolute;
	width: 160px;
	height: 200px;

	margin-left: 20px;
	margin-top: 25px;
	border-radius: 15px;
	corner-shape: squircle;

	border: 2px solid lightgrey;
	background-color: rgb(0,0,0,.6);
  z-index: 100;
}

#drawImg {
	position: absolute;
	width: 150px;
	height: auto;
	left: 2.3%;
	top: 25px;
	display: none;
}

#drawImg[src] {
	display: block;
/* 	opacity: 1; */
/* 	z-index: 000; */

}

#infoContainer {
	width: 300px;
	height: 90%;

	border-radius: 15px;
	corner-shape: squircle;

	 padding-top: 5px;

	margin-left: 650px;
	margin-top: 20px;
	border: 2px solid lightgrey;
	color: lightgrey;
	text-align: center;
	overflow: none;
}

#fakeConsole {
	position: absolute;
	width: 500px;
	height: 200px;

	top: 55%;
	left: 1.5%;

	border-radius: 15px;
	corner-shape: squircle;

	/*margin-left: 250px;*/
	/*margin-top: -1px;*/
	border: 2px solid lightgrey;

	background-color: #000000;
}

#search {
	width: 90%;
	height: 20px;
	border-radius: 15px;
	corner-shape: squircle;
	text-align: center;
	background-color: #000000;
	color: lightgray;
}

#infoDisplay {
	position: absolute;
	left: 200px;
	top: 15px;
	width: 430px;
	height: 245px;
	
	border-radius: 25px;
	corner-shape: squircle;
	word-wrap: normal;

  border: 2px solid lightgrey; 
}

#tryCommand {
  position: absolute;
	left: 52.5%;
	top: 60%;
	z-index: 100;
		background-color: rgb(0,0,0,.6);
  color: lightgrey;
}

#nameContainer{
position: absolute; 
	width: 140px;
	height: 35px;
	top: 44%;
	left: 3%;
/* 	border: 2px solid white; */
	text-align: center;	
	color: lightgrey;
}

